.btnContainer{
    display: 'flex';
    color: 'black';
    justify-content: 'center';
    width: '100%';
    background-color: 'white';
    border-radius: '15px';
    padding: '15px';
    font-size: '15px'
}