@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  background-color: #000000;
  font-family: 'Quicksand', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.example {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.container{
  animation-name: example;
  animation-duration: 1s;
}

.collapsed {
  animation-name: collapse;
  animation-duration: 1s;
  min-height: 55px;
}

.container-text {
  opacity: 1;
  animation-name: opac;
  animation-duration: 4s;
}

.more {
  height: 0px;
}

.opacitBefore {
  display: 0;
}

@keyframes example {
  from {max-height: 80px;}
  to {max-height: 390px;}
}

@keyframes collapse {
  from {min-height: 190px;}
  to {min-height: 50px;}
}

@keyframes opac {
  from {opacity: 0;}
  to {opacity: 1;}
}
