body {
  margin: 0;
  font-family: 'Sawarabi Gothic';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Sawarabi Gothic';
  src: local('Sawarabi Gothic'), url(./fonts/SawarabiGothic-Regular.ttf) format('truetype');
}
